body {
  margin: 1%;
}

.App h2 {
  font-size: 2.0vw;
}

.App h3 {
  font-size: 1.75vw;
  color: rgb(152, 198, 237);
}

.graphMonthly p {
  font-size: 1.5vw;
}

.graphMonthly span {
  font-size: 2.0vw;
  font-weight: bold;
  
}